
body { 
    background: url( ../images/background.jpg) no-repeat center center fixed;
    -webkit-background-size:
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Abril Fatface', cursive;
    font-size: 30px;
    text-shadow: 2px;
    margin-left: 30px;
}

.card-deck { 
    margin: 0px;
}

.container { 
    width: 900px;
    height: 350px;
}

.row { 
    justify-content: center;
    margin: 3px;
}
 
.img { 
    height: 225px;
    width: 225px;
}